.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99vh;
  background-color: #9e9e9e;
  color: #fff;
}

.home__picture {
  width: 300px;
}

.home__link {
  text-decoration: none;
  color: #fff;
}
